---
http_interactions:
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=<AIRBNB_CLIENT_ID>&location=Ostuni
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"25365f51352915579079af842580db6f"
    body:
      encoding: UTF-8
      string: '{"metadata":{"geography":{"accuracy":4,"precision":"city","country_code":"IT","country":"Italy","result_type":"locality","state_short":"Apulia","state":"Apulia","city":"Ostuni","lat":40.7295235,"lng":17.5779979,"place_id":"ChIJsc7TGFdDRhMR-vorp05qNhw"},"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"QZ2DagjD","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"b9a89e05-dc5e-4b37-b609-34a14e9eb978"},"pagination":{"next_offset":20,"result_count":20},"facets":{"bedrooms":[{"key":10,"value":"10","count":1},{"key":9,"value":"9","count":2},{"key":8,"value":"8","count":4},{"key":7,"value":"7","count":9},{"key":6,"value":"6","count":16},{"key":5,"value":"5","count":35},{"key":4,"value":"4","count":101},{"key":3,"value":"3","count":284},{"key":2,"value":"2","count":713},{"key":1,"value":"1","count":1107},{"key":0,"value":"0","count":1176}],"bathrooms":[{"key":7.0,"value":"7.0","count":4},{"key":6.5,"value":"6.5","count":5},{"key":6.0,"value":"6.0","count":13},{"key":5.5,"value":"5.5","count":14},{"key":5.0,"value":"5.0","count":24},{"key":4.5,"value":"4.5","count":25},{"key":4.0,"value":"4.0","count":59},{"key":3.5,"value":"3.5","count":65},{"key":3.0,"value":"3.0","count":110},{"key":2.5,"value":"2.5","count":122},{"key":2.0,"value":"2.0","count":384},{"key":1.5,"value":"1.5","count":412},{"key":1.0,"value":"1.0","count":1171},{"key":0.5,"value":"0.5","count":1172},{"key":0.0,"value":"0.0","count":1176}],"beds":[{"key":16,"value":"16","count":7},{"key":15,"value":"15","count":7},{"key":14,"value":"14","count":9},{"key":13,"value":"13","count":10},{"key":12,"value":"12","count":15},{"key":11,"value":"11","count":17},{"key":10,"value":"10","count":29},{"key":9,"value":"9","count":35},{"key":8,"value":"8","count":61},{"key":7,"value":"7","count":98},{"key":6,"value":"6","count":188},{"key":5,"value":"5","count":291},{"key":4,"value":"4","count":490},{"key":3,"value":"3","count":695},{"key":2,"value":"2","count":988},{"key":1,"value":"1","count":1174},{"key":0,"value":"0","count":1176}],"availability":[{"key":"Instant
        Book","value":"Instant Book","count":260}],"room_type":[{"key":"Entire home/apt","value":"Entire
        home/apt","count":1092},{"key":"Private room","value":"Private room","count":83},{"key":"Shared
        room","value":"Shared room","count":1}],"hosting_amenity_ids":[{"key":8,"value":"Kitchen","count":1060},{"key":3,"value":"Internet","count":233},{"key":1,"value":"TV","count":944},{"key":40,"value":"Essentials","count":871},{"key":41,"value":"Shampoo","count":455},{"key":30,"value":"Heating","count":728},{"key":5,"value":"Air
        conditioning","count":582},{"key":33,"value":"Washer","count":735},{"key":34,"value":"Dryer","count":56},{"key":9,"value":"Free
        parking on premises","count":752},{"key":23,"value":"Free parking on street","count":1},{"[...]
