---
http_interactions:
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=<AIRBNB_CLIENT_ID>&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"60d590c11892e470147e40ffec5fdb6e"
    body:
      encoding: UTF-8
      string: '{"metadata":{"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"khawePbr","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"6f26ed00-a0d7-4169-a5c1-6660a26266f9"},"pagination":{"next_offset":20,"result_count":20},"facets":{"neighborhood_facet":[{"key":"1st
        Arrondissement","value":"1st Arrondissement","count":2},{"key":"3rd Arrondissement","value":"3rd
        Arrondissement","count":3},{"key":"4th Arrondissement","value":"4th Arrondissement","count":1},{"key":"6th
        Arrondissement","value":"6th Arrondissement","count":1},{"key":"7th Arrondissement","value":"7th
        Arrondissement","count":2},{"key":"Acton","value":"Acton","count":1},{"key":"Agincourt","value":"Agincourt","count":1},{"key":"Akademicheskiy","value":"Akademicheskiy","count":1},{"key":"Algirós","value":"Algirós","count":1},{"k[...]
