---
http_interactions:
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=<airbnb_client_id>&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"653cf88b73b195ede1ea12c94dd1256a"
    body:
      encoding: UTF-8
      string: '{"metadata":{"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"nMZB_HNE","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"b621b8f1-6496-473e-80f4-be03d8171475"},"pagination":{"next_offset":20,"result_count":20},"facets":{"neighborhood_facet":[{"key":"
        Rio Vermelho","value":"Rio Vermelho","count":1},{"key":"1st Arrondissement","value":"1st
        Arrondissement","count":3},{"key":"4th Arrondissement","value":"4th Arrondissement","count":1},{"key":"5th
        Arrondissement","value":"5th Arrondissement","count":1},{"key":"6th Arrondissement","value":"6th
        Arrondissement","count":1},{"key":"7th Arrondissement","value":"7th Arrondissement","count":3},{"key":"8th
        Arrondissement","value":"8th Arrondissement","count":1},{"key":"Adams North","value":"Adams
        North","count[...]
