---
http_interactions:
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=<airbnb_client_id>&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"391e72ef5b05ced344e353f9e5cb5ba5"
    body:
      encoding: UTF-8
      string: '{"metadata":{"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"n-87hGca","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"a707393c-a085-4df0-b800-e2b6b50ccec6"},"pagination":{"next_offset":20,"result_count":20},"facets":{"neighborhood_facet":[{"key":"
        Rio Vermelho","value":"Rio Vermelho","count":1},{"key":"1st Arrondissement","value":"1st
        Arrondissement","count":1},{"key":"2nd Arrondissement","value":"2nd Arrondissement","count":1},{"key":"5th
        Arrondissement","value":"5th Arrondissement","count":1},{"key":"8th Arrondissement","value":"8th
        Arrondissement","count":1},{"key":"Adams Morgan","value":"Adams Morgan","count":1},{"key":"Adams
        North","value":"Adams North","count":1},{"key":"Admiralteysky","value":"Admiralteysky","count":1},{"key":"Ajami","value":"A[...]
