---
http_interactions:
- request:
    method: get
    uri: https://api.airbnb.com/v2/search_results?client_id=<airbnb_client_id>&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f6c4a15bb4794e2892a3ba5942bf1129"
    body:
      encoding: UTF-8
      string: '{"metadata":{"guidebook":null,"search":{"business_travel_reward_data":{},"has_airbnb_plus_availability":false,"has_business_travel_ready_availability":false,"is_last_minute_eligible":false,"last_minute_show_dist_sort":false,"mobile_session_id":"9XWobaqk","native_currency":"USD","price_type":"nightly","price_range_max_native":1000,"price_range_min_native":10,"search_id":"c8eeddc5-c996-439b-b8da-1c99c8c6955f"},"pagination":{"next_offset":20,"result_count":20},"facets":{"neighborhood_facet":[{"key":"
        Rio Vermelho","value":"Rio Vermelho","count":1},{"key":"1st Arrondissement","value":"1st
        Arrondissement","count":1},{"key":"4th Arrondissement","value":"4th Arrondissement","count":2},{"key":"6th
        Arrondissement","value":"6th Arrondissement","count":1},{"key":"7th Arrondissement","value":"7th
        Arrondissement","count":1},{"key":"8th Arrondissement","value":"8th Arrondissement","count":1},{"key":"Adachi
        District","value":"Adachi District","count":1},{"key":"Adams Morgan","value":"Adams
        Morgan","count":1}[...]
