---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Hsinchu&key=<GOOGLEMAP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hsinchu City",
                       "short_name" : "Hsinchu City",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Taiwan",
                       "short_name" : "TW",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "300",
                       "short_name" : "300",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Hsinchu City, Taiwan 300",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 24.8569956,
                          "lng" : 121.0335449
                       },
                       "southwest" : {
                          "lat" : 24.7125478,
                          "lng" : 120.8785096
                       }
                    },
                    "location" : {
                       "lat" : 24.8138297,
                       "lng" : 120.9674752
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 24.8569956,
                          "lng" : 121.0335449
                       },
                       "southwest" : {
                          "lat" : 24.7125478,
                          "lng" : 120.8794077
                       }
                    }
                 },
                 "place_id" : "ChIJ9-datXdKaDQR-x-h4mLoTF4",
                 "types" : [ "administrative_area_level_2", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sat, 31 Dec 2016 08:21:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Canterbury,%20New%20Zealand&key=<GOOGLEMAP_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {[...]
- request:
    method: get
    uri: http://api.geonames.org/findNearbyJSON?fcode=AIRP&lat=-43.7542275&lng=171.1637245&maxRows=10&radius=50&username=<GEONAMES_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"geonames":[{"adminCode1":"E9","lng":"171.53011","distance":"34.82599","geonameId":6216856,"toponymName":"Mount
        Hutt Methven Airfield","countryId":"2186224","fcl":"S","population":0,"countryCode":"NZ","name":"Mount
        Hutt Methven Airfield","fclName":"spot, building, farm","countryName":"New
        Zealand","fcodeName":"airport","adminName1":"Canterbury","lat":"-43.58832","fcode":"AIRP"}]}'
  recorded_at: Sat, 31 Dec 2016 08:21:03 GMT
recorded_with: VCR 3.0.3
