---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org//searchJSON?fuzzy=0.5&maxRows=1&q=Hsinchu&username=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"message":"invalid username","value":10}}'
  recorded_at: Tue, 15 Nov 2016 09:17:05 GMT
- request:
    method: get
    uri: http://api.geonames.org//searchJSON?fuzzy=0.5&maxRows=1&q=Hsinchu&username=<GEONAMES_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":707,"geonames":[{"adminCode1":"04","lng":"120.96861","geonameId":1675151,"toponymName":"Hsinchu","countryId":"1668284","fcl":"P","population":404109,"countryCode":"TW","name":"Hsinchu","fclName":"city,
        village,...","countryName":"Taiwan","fcodeName":"seat of a second-order administrative
        division","adminName1":"Taiwan","lat":"24.80361","fcode":"PPLA2"}]}'
  recorded_at: Tue, 15 Nov 2016 09:20:56 GMT
- request:
    method: get
    uri: http://api.geonames.org//findNearbyJSON?fcode=AIRP&lat=24.80361&lng=120.96861&maxRows=10&radius=50&username=<GEONAMES_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"geonames":[{"adminCode1":"04","lng":"120.93939","distance":"3.35823","geonameId":6300303,"toponymName":"Hsinchu
        Tw-Afb","countryId":"1668284","fcl":"S","population":0,"countryCode":"TW","name":"Hsinchu
        Tw-Afb","fclName":"spot, building, farm","countryName":"Taiwan","fcodeName":"airport","adminName1":"Taiwan","lat":"24.81803","fcode":"AIRP"},{"adminCode1":"04","lng":"120.94111","distance":"3.61322","geonameId":6600395,"toponymName":"Xinzhu
        Jichang","countryId":"1668284","fcl":"S","population":0,"countryCode":"TW","name":"Xinzhu
        Jichang","fclName":"spot, building, farm","countryName":"Taiwan","fcodeName":"airport","adminName1":"Taiwan","lat":"24.82444","fcode":"AIRP"},{"adminCode1":"04","lng":"121.23282","distance":"40.42421","geonameId":1980018,"toponymName":"Taiwan
        Taoyuan International Airport","countryId":"1668284","fcl":"S","population":0,"countryCode":"TW","name":"Taiwan
        Taoyuan International Airport","fclName":"spot, building, farm","countryName":"Taiwan","fcodeName":"airport","adminName1":"Taiwan","lat":"25.07773","fcode":"AIRP"}]}'
  recorded_at: Tue, 15 Nov 2016 09:26:05 GMT
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?fuzzy=0.5&maxRows=1&q=Hsinchu&username=<GEONAMES_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":707,"geonames":[{"adminCode1":"04","lng":"120.96861","geonameId":1675151,"toponymName":"Hsinchu","countryId":"1668284","fcl":"P","population":404109,"countryCode":"TW","name":"Hsinchu","fclName":"city,
        village,...","countryName":"Taiwan","fcodeName":"seat of a second-order administrative
        division","adminName1":"Taiwan","lat":"24.80361","fcode":"PPLA2"}]}'
  recorded_at: Fri, 25 Nov 2016 05:10:01 GMT
- request:
    method: get
    uri: http://api.geonames.org/findNearbyJSON?fcode=AIRP&lat=24.80361&lng=120.96861&maxRows=10&radius=50&username=<GEONAMES_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"geonames":[{"adminCode1":"04","lng":"120.93939","distance":"3.35823","geonameId":6300303,"top[...]
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?fuzzy=0.5&maxRows=1&q=Ajim&username=<GEONAMES_USERNAME>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":103,"geonames":[{"adminCode1":"28","lng":"10.75664","geonameId":2473937,"toponymName":"Ajim","countryId":"2464461","fcl":"P","population":0,"countryCode":"TN","name":"Ajim","fclName":"city,
        village,...","countryName":"Tunisia","fcodeName":"populated place","adminName1":"Madanīn","lat":"33.72638","fcode":"PPL"}]}'
  recorded_at: Fri, 25 Nov 2016 07:52:53 GMT
recorded_with: VCR 3.0.3
